.Signin_body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../Images/signinbg.jpg');
    background-position: center;
    background-size: cover;
}
.signin_opacity {
    background: rgba(7, 10, 9, 0.788);
    margin: 0;
    height: 100%;
}
.form_name {
    margin: 50px 0 35px 0;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif
}
.textbox{
    overflow: hidden;
    margin: 20px 0;
    padding: 8px 0;
    border-bottom: 1px solid #0f74f8;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 15px;
}
.left {
    float: left;
    color: rgb(216, 216, 216);
    font-size: 25px;
    width: 25px;
}
.button {
    width: 100%;
    margin: 25px 0;
    height: 45px;
    background: #193e6e;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    border: solid 1px rgb(158, 158, 158);
    border-radius: 10px;
}
.button:hover{
    background: #4a4de6;
}
.forgot{
    color: rgb(185, 184, 184);
    float: right;
    font-size: 15px;
    margin-right: 5px;
}
.social_text{
    float: left;
    color: rgb(185, 184, 184);
    font-size: 15px;
}
.social_body{
    margin: 20px 0 0 0;
}
.social_icons{
    margin:0 20px 50px 0;
    float: left;
    font-size: 25px;
    color: rgb(248, 1, 75);
}